<div class="form">
   <div class="tab-content">
      <div id="login">
         <div class="text-center">
            <img style="margin: 0 auto; display: block; margin-bottom: 45px;" class="responsive-img logo" width="300" src="../images/logo.png" alt="">
         </div>
         <form id="frmAuthy" method="post" novalidate>
            <div id="success"></div>
            <div class="field-wrap">
               <input type="text" name="authenticator" id="authenticator" class="form-control" placeholder="Please enter authenticator code">
            </div>
            
            <button type="submit" class="button button-block"/>Log In</button>
            <div style="text-align: center;margin-top: 15px;color: #fff">
               <a href="/account/logout">Logout</a> 
            </div>
         </form>
      </div>
      <div style="clear: both;"></div>
   </div>
</div>



