<div class="form">
   <div class="tab-content">
      <div id="login">
         <div class="text-center">
            <img style="margin: 0 auto; display: block; margin-bottom: 45px;" class="responsive-img logo" width="120" src="../images/logo.png" alt="">
         </div>
         <form id="frmChangePassword" method="POST" novalidate>
            <div class="input-wrapper">
               <label for="username" class="label">New Password<i class="ion-asterisk"></i></label>
               <input type="password" name="password" id="password" class="form-control" autocomplete="off" required placeholder="New Password"/>
            </div>
            <div class="input-wrapper">
               <label for="username" class="label">Confirm Password<i class="ion-asterisk"></i></label>
               <input type="password" name="cfpassword" id="cfpassword" class="form-control" required placeholder="Confirm Password" />
            </div>
            <input type="hidden" name="token" id="token" value="{{token}}">
            <div class="center_capcha" style="margin-top: 25px;">
               <div class="g-recaptcha" data-sitekey="6LerNmYUAAAAABdp7YUrRlXPH5JAlJG1x9zy6SE9" data-callback="enableBtn"></div>
            </div>
            <!-- disabled="disabled"  -->
            <button type="submit" id="submit_button" class="button button-block"/>Change Password</button>
            <div style="text-align: center;margin-top: 15px;color: #fff">
               <a href="/login">Login Account</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="/register">Don't have an account?</a> 
            </div>
         </form>
      </div>
      <div style="clear: both;"></div>
   </div>
</div>