<div class="form">
   <div class="tab-content">
      <div id="login">
         <div class="text-center">
            <img style="margin: 0 auto; display: block; margin-bottom: 45px;" class="responsive-img logo" width="120" src="../images/logo.png" alt="">
         </div>
         <form id="frmForgot" method="post" novalidate>
            <div class="field-wrap">
               <label>Email</label>
            	<input type="text" name="email" id="email" class="form-control" required placeholder="Please enter your email" autocomplete="off"/>
            </div>

            <div class="center_capcha" style="margin-top: 25px;">
               <div class="g-recaptcha" data-sitekey="6LerNmYUAAAAABdp7YUrRlXPH5JAlJG1x9zy6SE9" data-callback="enableBtn"></div>
            </div>
            <button type="submit" id="submit_button" disabled="disabled" class="button button-block"/>Forgot Password</button>
            <div style="text-align: center;margin-top: 15px;color: #fff">
               <a href="/signup">Don't have an account?</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="/signin">Login?</a> 
            </div>
         </form>
      </div>
      <div style="clear: both;"></div>
   </div>
</div>